<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quiz Heian Shodan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
<body>
    <div class="container">
        <h1>Quiz: Kata Heians 🥋</h1>
        <p>Teste seus conhecimentos sobre o primeiro kata da série Heian!</p>
        <a href="{{ url_for('quiz') }}" class="button">Iniciar Quiz</a>
    </div>
</body>
</html>